@import url(reset.css);
body
{
    font-family: 'Manrope';
}


.header
{
    border-bottom: 1px solid #e5e9f2;
    height: 76px;
}
.container-header
{
    display: flex;
    height: 76px;
    align-items: center;
    gap: 32px;
    max-width: 1110px;
    margin: 0 auto;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo span {
    font-weight: 900;
}
.nav ul{
    display: flex;
    gap:32px;
    
}
.nav ul li a{
    text-decoration: none;
    color:black;
    font-weight: bold;

}
.appstore{
    margin-left: auto;
}



.main-container
{
    max-width: 1110px;
    display: flex;
    margin: 0 auto;
    padding: 197px 0px;
    justify-content: center;
    gap:32px;
    
        
}
.content
{
    max-width: 538px;
    padding-top: 24px;
    
}

.content h1{
    font-weight: 900;
    font-size: 72px;
    line-height: 1.3em;
}
.content p{
    font-size: 18px;
    line-height: 1.3em;

}
  
.button{
    padding-top: 32px;
}
.button a {
    text-decoration: none;
    color: white;
    background-color: #8C30F5;
    padding: 16px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}
.button a:hover{
    opacity: 0.8;
}
.footer{
    background-color: #0B0D17;
   
    color: white;
}
.footer-container
{
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
    align-items: center;
    height: 100px;


}
.copirite{
    font-size: 14px;
}
.socials{
    display: flex;
    gap: 16px;
    margin-left: auto;

}